<?xml version="1.0" ?>
<robot name="motoman_gp50" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:include filename="$(find acroba_resources)/urdf/gp50_macro.xacro" />
  <xacro:motoman_gp50 prefix=""/>

  <link name="world"/>
  <joint name="world_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
</robot>
