<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="imr_cell" >

 
  <!-- include -->
  <xacro:include filename="$(find acroba_resources)/urdf/ur5_macro.xacro" />
<xacro:include filename="$(find acroba_resources)/urdf/rg2_macro.xacro"/>


  
  <!-- instanciate -->
  <xacro:ur5_robot prefix="" joint_limited="false"/>
    <xacro:rg2 prefix=""/>


 

  <link name = "smartshift">
		<visual>
			<origin xyz= "0 0 0" rpy= "0 0 0"/>
			<geometry>
				<mesh filename="package://acroba_resources/meshes/IMR_cell/smartshift_rotated.dae" scale="0.001 0.001 0.001"/>
			</geometry>
		</visual>
		<collision>
			<origin xyz= "0 0 0" rpy= "0 0 0"/>
			<geometry>
				<mesh filename="package://acroba_resources/meshes/IMR_cell/smartshift_rotated.dae" scale="0.001 0.001 0.001"/>
			</geometry>
		</collision>
	</link>

    <joint name="shift_joint" type="fixed">
        <parent link="tool0" />
        <child link = "smartshift" />
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 3.141592" />
    </joint>

    <joint name="shift_tool_joint" type="fixed">
        <parent link="smartshift" />
        <child link = "base_tool" />
        <origin xyz="0.0 0.0 0.0908" rpy="0.0 0.0 0.0" />
    </joint>

    <link name = "imr_cell">
		<visual>
			<origin xyz= "0 0 0" rpy= "0 0 0"/>
			<geometry>
				<mesh filename="package://acroba_resources/meshes/IMR_cell/imr_cell_visual.dae"/>
			</geometry>
            <material name="cell">
                <color rgba="0.5 0.5 0.5 1.0"/>
            </material>
		</visual>
		<collision>
			<origin xyz= "0 0 0" rpy= "0 0 0"/>
			<geometry>
				<mesh filename="package://acroba_resources/meshes/IMR_cell/imr_cell_collision.dae"/>
			</geometry>
		</collision>
	</link>

  <link name="world" />
 <joint name="world_cell" type="fixed">
    <parent link="world" />
    <child link = "imr_cell" />
    <origin xyz= "0.0 0.0 0.0" rpy= "0 0 0"/>
  </joint>

  <joint name="imr_base_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz= "0.163 -0.72 0.845" rpy= "0 0 0"/>
  </joint>


</robot>