<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
       name="tm900" >


  <xacro:property name="prefix" value="" />

 
  <!-- tm900 -->
  <xacro:include filename="$(find acroba_resources)/urdf/tm900_macro.xacro" />
  <xacro:tm900 prefix="${prefix}" joint_limited="false" />

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link="base" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

</robot>
