<launch>
<!--Load urdf of the robot-->
<param name="robot_description" textfile="$(find acroba_resources)/urdf/icpe_cell1.urdf"/>

<param name="base_robot" type="string" value="world" />
<param name="end_tool" type="string" value="end_tool" />

<node name="icpe1_pipeline" pkg="acroba_icpe_case" type="icpe1_sample.py" output="screen"/>
</launch>