<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

 <xacro:macro name="rgbd_camera" params="name parent *origin">

    <xacro:include filename="$(find acroba_resources)/urdf/sensors/ensenso/rgbd_camera_orig_macro.xacro"/>
      <xacro:property name="deg_to_rad" value="0.01745329251994329577"/>
    <!--Use the previous macro to create one that match the template-->
    <xacro:rgbd_camera name="${name}" parent="${parent}">
       <insert_block name="origin"/>
        <!--<origin xyz="0 0 0" rpy="${-90* deg_to_rad} 0 ${-90* deg_to_rad}"/>-->
        <origin xyz = "0.211333 -0.608846 2.155639" rpy = "-3.1415927 0 0"/>
      </xacro:rgbd_camera>
 </xacro:macro>
 </robot>

